<p style="color: green"><%= notice %></p>

<% content_for :title, "Deliverables" %>

<h1>Deliverables</h1>

<div id="deliverables">
  <% @deliverables.each do |deliverable| %>
    <%= render deliverable %>
    <p>
      <%= link_to "Show this deliverable", deliverable %>
    </p>
  <% end %>
</div>

<%= link_to "New deliverable", new_deliverable_path %>
