<p style="color: green"><%= notice %></p>

<% content_for :title, "Contracts" %>

<h1>Contracts</h1>

<figure>
  <table id="contracts" style="width: 100%; border-collapse: collapse; text-align: center;">
    <thead>
      <tr>
        <th>Contract Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr id="<%= dom_id contract %>">
          <td><%= contract.external_id %></td>
          <td><%= link_to "Show this contract", contract %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</figure>
