<div id="<%= dom_id agent %>">
  <p>
    <strong>Symbol:</strong>
    <%= agent.symbol %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= agent.faction %>
  </p>

  <p>
    <strong>Apikey:</strong>
    <%= agent.apikey %>
  </p>

</div>
