<p style="color: green"><%= notice %></p>

<% content_for :title, "Agents" %>

<h1>Agents</h1>

<div id="agents">
  <% @agents.each do |agent| %>
    <%= agent.symbol %>
    <span>
      <%= link_to "Show this agent", agent %>
    </span>
    <br>
  <% end %>
</div>

<%= link_to "New agent", new_agent_path %>
