<p style="color: green"><%= notice %></p>

<h3>Agent Details</h3>
<%= render @agent %>

<div>
  <h3>Agent Contracts</h3>
  <%= render @agent.contracts %>
</div>

<div>
  <%= link_to "Back to agents", agents_path %>
</div>
