<div id="<%= dom_id payment %>">
  <p>
    <strong>Contract:</strong>
    <%= payment.contract_id %>
  </p>

  <p>
    <strong>Payment on accepted:</strong>
    <%= payment.payment_on_accepted %>
  </p>

  <p>
    <strong>Payment on fulfilled:</strong>
    <%= payment.payment_on_fulfilled %>
  </p>

</div>
