<p style="color: green"><%= notice %></p>

<% content_for :title, "Create deliverables" %>

<h1>Create deliverables</h1>

<div id="create_deliverables">
  <% @create_deliverables.each do |create_deliverable| %>
    <%= render create_deliverable %>
    <p>
      <%= link_to "Show this create deliverable", create_deliverable %>
    </p>
  <% end %>
</div>

<%= link_to "New create deliverable", new_create_deliverable_path %>
