<% content_for :title, "New create deliverable" %>

<h1>New create deliverable</h1>

<%= render "form", create_deliverable: @create_deliverable %>

<br>

<div>
  <%= link_to "Back to create deliverables", create_deliverables_path %>
</div>
