<% content_for :title, "New create contract" %>

<h1>New create contract</h1>

<%= render "form", create_contract: @create_contract %>

<br>

<div>
  <%= link_to "Back to create contracts", create_contracts_path %>
</div>
